<%- include('partials/auth-header') %>

<div class="jumbotron centered first-container">
  <div class="container">
    <h1 class="display-3">Bujo</h1>
    <p class="lead">Bullet Journal. Anytime. Anywhere.</p>
    <hr />
    <div class="bottom-half">
      <a class="btn btn-light btn-lg" href="/register" role="button"
        >Register</a
      >
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
