<%- include('partials/composeHeader.ejs') %>

    <body>
      <div class="entry-page">
        <h1><%= entryTitle %></h1>
        <p><%= entryContent %></p>
     
      </div>

<%- include('partials/footer.ejs') %>
